  @import  url('https://fonts.googleapis.com/css2?family=Crimson+Pro&amp;display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  /* For both small and big screens */

    /*
      Major Sixth Modular Scale:
      http://www.modularscale.com/?22&px&1.667&web&text
    */

  body {
      line-height: 1.182em; /* 26px / ~ 120% */
      text-rendering: optimizeLegibility;
      font-size: 16px;
      font-family:Crimson, 'Roboto', sans-serif;
      color: #DAA520;
    }
  div.gallery {
    border: 1px solid #ccc;
    padding: 10px ;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
    input[type=submit] {
    background-color:red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
  }
  input[type=submit]:hover {
    background-color:#8B0000;
  }
  h1,h2{
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  h1{
    color: red;
    background-color: #FFA500;
  }
  p{
    color: black;
    font-size: 10px;
  }
  div.main {
    border-radius: 6px;
    background-color: #D3D3D3;
    padding: 10px;
  }
  @media screen and (min-width: 280px) {
    input {
        width: 90%;
        padding: 10px;
      }
    input[type=submit]{
          width: 30%;
      }
    div.responsive {
        width: 80%;
        height: auto;
        display: inline;
      }
      h1{
        color: red;
        font-size: 20px;
      }
      h2{
        font-size: 16px;
    }
  @media screen and (min-width: 992px) {
    div.responsive {
        padding: 10px;
        width: 80%;
        display:flex;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
  }
    form{
      width: 35%;
      display:block;
      margin-left: auto;
      margin-right: auto;
    }
    input {
        width: 70%;
       }
    input[type=submit]{
        width: 20%;
    }
    h1{
      color: red;
      font-size: 25px;
  }
    h2{
      font-size: 20px;
  }
    p{
        text-align: center;
      }
}
