
/* For both small and big screens */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

textarea {
  height:200px;
}
input[type=submit] {
  background-color: #663399;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #800080;
}

.main {
  border-radius: 6px;
  background-color: #f5fffa;
  padding: 20px;
}

@media screen and (min-width: 480px) {
  body {
      background-color: #f5fffa;
    }
  input {
      width: 90%;
    }
  input[type=submit]{
        width: 30%
    }

  }

@media screen and (min-width: 992px) {
  body {
      background-color: #f5fffa;
    }
  input {
      width: 70%;
     }
  input[type=submit]{
      width: 20%
  }
    }
