
/* For both small and big screens */
body{
  line-height: 1.2 em;
  font-family:serif;
  font-size: 16 px;
}
div.gallery {
  border: 1px solid #ccc;
  line-height: 1.2 em;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color:red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#8B0000;
}

h1,h2{
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

h1{
  color: red;
  font-size: 40px;
}
h2{
  font-size: 30px;



}

.main {
  border-radius: 6px;
  background-color: #f5fffa;
  padding: 20px;

}


@media only screen and (min-width: 380px) {
  body {
      background-color: #f5fffa;
    }
  input {
      width: 90%;
    }
  input[type=submit]{
        width: 30%;
    }
  .responsive {
      width: 100%;
      height: auto;
    }

  }

@media only screen and (min-width: 992px) {
  body {
      background-color: #f5fffa;
    }
  input {
      width: 70%;
     }
  input[type=submit]{
      width: 20%;
  }
  .responsive {
      display:flex ;
      margin-left: auto;
      margin-right: auto;


}

    }
